/* navigation bar */

.logo-link {
    color: #c9b18a;
}

.logo-link:hover {
    color: #c9b18a;
    border-bottom: 2px solid #c9b18a;
    text-decoration: none;
}

.navbar {
    background-color: #251d18;
}

.navbar-text {
    color: black;
    font-size: 40px;
    padding-right: 25%;
}

.nav-link {
    color: #f3ead8;
    font-size: 40px;
    line-height: 50px;    
}

.nav-link:hover {
    color: #f3ead8;
    border-bottom: 2px solid #f3ead8;
}

.nav-item {
    padding-right: 70px;
}

/* image banner */

.jumbotron-fluid {
    background-image: url(https://66.media.tumblr.com/b64a4f2271dc3c36fc362c940488235a/tumblr_p6awqiZIBL1wgm3uuo2_500.gif);
    background-size: cover;
    height: 512px;
    margin-top: 120px;
    opacity: 0.275;
    width: 100%;
}

#banner-info {
    margin-bottom: -140px;
}

.ontop {
    color: #896f4c;
    position: relative;
    bottom: 330px;
    padding-left: 1200px;
}

.btn {
    color: #5a452e;
    font-size: 20px;
}

.ontop2 {
    background-color: hsla(22, 43%, 83%, 0.6);
    border-radius: 15%;
    position: relative;
    bottom: 430px;
    margin-left: 1200px;
}

.btn:hover {
    color: hsla(22, 43%, 83%, 0.6);
}

.ontop2:hover {
    background-color: hsla(31, 32%, 27%, 0.6);
}

/* card deck */

#card-place {
    height: 30rem;
    margin-bottom: 2rem;
}

.card-img {
    height: 15rem;
}

h5, h6, .card-p {
    text-align: center;
}

.card-link {
    color: #72593d;
    font-weight: 700;
}

.card-link:hover {
    color: #72593d;
    border-bottom: 2px solid #72593d;
}

/* included this bc I couldn't get the card links text to center, even using !important */

body {
    text-align: center;
}

/* vote banner */

.vote-banner {
    background-color: #251d18;
    width: 100%;
    min-height: 500px;
    margin-bottom: 3%;
}

.vote-info, h1 {
    color: #c9b18a;
    font-size: 5rem;
    padding-top: 8%;
}

.vote-info, h2 {
    font-size: 3rem;
}

.vote-btn {
    background-color: #f3ead8;
}

.vote-btn:hover {
    background-color: #b79c71;
    color: #251d18;
}

/* fellowship timeline */

.thead {
    background-color: #251d18;
    color: #f3ead8;
}

.tbody {
    color: #251d18;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #72593d;
   color: #f3ead8
}

.table-cap {
    color: #402f21;
}
