.logo-link {
    color: black;
}

.logo-link:hover {
    color: black;
    border-bottom: 2px solid black;
    text-decoration: none;
}

.navbar {
    background-color: olive;
}

.navbar-text {
    color: black;
    font-size: 50px;
    padding-right: 20%;
    
}


.nav-link {
    color: white;
    font-size: 50px;
    line-height: 50px;    
}

.nav-link:hover {
    color: white;
    border-bottom: 2px solid white;
}

.nav-item {
    padding-right: 50px;
}


.banner {
    padding-top: 140px;
}